.row-header-cell {
  display: table-cell;
  width: 7vw;
}

.player-cell {
  display: table-cell;
  width: 7vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bids-cell {
  display: table-cell;
  width: 7vw;
}

.player-row {
  display: table-row;
}

.player-table {
  table-layout: fixed;
  display: table;
  width: 35vw;
}

.results-cell {
  display: table-cell;
  width: 14vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.results-row {
  display: table-row;
}

.results-table {
  table-layout: fixed;
  display: table;
  width: 35vw;
}

.trick-card {
  width: 7vw;
}

.hand-card {
  width: 7vw;
}

.hand-card-container {
  width: 3.5vw;
  display: inline-block;
}
