:root {
  /* height/width-ration (values copied from card-svg) */
  --card-h-w-ratio: calc(242.6669922 / 167.0869141);
  --card-width: 8vw;
  --card-height: calc(var(--card-width) * var(--card-h-w-ratio));
  --button-min-width: 4vw;
}

.row-header-cell {
  display: table-cell;
  width: var(--card-width);
}

.player-cell {
  display: table-cell;
  width: var(--card-width);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bids-cell {
  display: table-cell;
  width: var(--card-width);
}

.player-row {
  display: table-row;
}

.player-table {
  table-layout: fixed;
  display: table;
  width: calc(var(--card-width) * 5);
}

.results-cell {
  display: table-cell;
  width: calc(var(--card-width) * 2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.results-row {
  display: table-row;
}

.results-table {
  table-layout: fixed;
  display: table;
  width: calc(var(--card-width) * 5);
}

.trick-card {
  width: var(--card-width);
}

.hand-card {
  width: var(--card-width);
}

.hand-card-container {
  width: calc(var(--card-width) / 2);
  display: inline-block;
}

.bid-button {
  min-width: var(--button-min-width);
}

.no-reservation-button {
  min-width: var(--button-min-width);
}

.solo-reservation-button {
  min-width: var(--button-min-width);
}

.special-reservation-button {
  min-width: var(--button-min-width);
}

.reservation-button-block {
  margin-right: 0.5vw;
  display: inline-block;
}